body {background: pink}
h2 {color: brown; text-align: center; }
li {color: red; font-family: tahoma; font-size: 15pt; }
caption {text-align: center; color: purple; font-size: 30pt;}
td{text-align: center; font-weight: bold; font-size: 15pt;}
tr {text-align: center;}
.aszal{ background: purple; color: white; }